.home-container {
  margin-top: 55px;
  padding-top: 100px;
}
.search-element {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 16px;
  box-shadow: 0 0 10px 0 black;
  background: #fcfcfc;
}
